﻿@model IEnumerable<MVCBase.CuentasCorrientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <br />
    <div class="panel panel-inverse" id="wid-id-proyectosIndex">
        <ul class="panel-options">            
            <li><a class="panel-minimize" id="multipleEdit"><i class="fa fa-chevron-down lg"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Listado de Cuentas Corrientes</h3>
        </div>
        <div class="panel-body">

            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                <thead>
                    <tr>
                        <th class="hasinput icon-addon" style="width: 100%">
                            <input class="form-control" placeholder="Cuenta Catastral" type="text">
                        </th>
                        <th class="hasinput" style="width: 60%">
                            <input class="form-control" placeholder="Proyecto" type="text">
                        </th>
                        <th class="hasinput" style="width: 20%">
                            <input class="form-control" placeholder="Monto Adeudado" type="text">
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th data-class="phone">Cuenta Catastral</th>
                        <th data-hide="expand">Proyecto</th>
                        <th data-hide="phone,tablet">Monto Adeudado</th>
                        <th data-hide="phone,tablet"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.catCca)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CuentasCorrientesPorProyecto.First().cxmProyectos.nombreProyecto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.montoAdeudado)
                            </td>
                            <td>
                                @Html.ActionLink(linkText: "Resumen", actionName: "ProjectSummary", routeValues: new { idCuenta = item.idCuenta }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
