﻿@model MVCBase.CuentasCorrientesPorProyecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="col-md-12">
    <div class="panel panel-inverse" id="wid-id-info">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Datos del Proyecto</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" style="margin-top: 20px">
                <div class="col-md-6" id="info">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Nombre del Proyecto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.nombreProyecto)
                        </dd>
                        <dt>
                            @Html.DisplayName("Ubicación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.ubicacion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Descripción")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Contratista;")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.contratista)
                        </dd>

                        <dt>
                            @Html.DisplayName("Valor Proyecto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.valorProyecto)
                        </dd>

                        <dt>
                            @Html.DisplayName("Monto Contratado")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.montoContratado)
                        </dd>

                        <dt>
                            @Html.DisplayName("Monto Ejecutado")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.montoEjecutado)
                        </dd>

                        <dt>
                            @Html.DisplayName("Area Contratada")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.areaContratada)
                        </dd>

                        <dt>
                            @Html.DisplayName("Area Ejecutada")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.areaEjecutada)
                        </dd>

                        <dt>
                            @Html.DisplayName("Medida Area")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.medidaArea)
                        </dd>

                        <dt>
                            @Html.DisplayName("Fecha Inicio")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.fechaInicio)
                        </dd>

                        <dt>
                            @Html.DisplayName("Fecha Finalizacion")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.fechaFinalizacion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Cantidad Franjas")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cxmProyectos.cantidadFranjas)
                        </dd>
                    </dl>

                </div>
                <div class="col-md-6" id="infoRight" style="border: 1px; border-color: black; border-style:solid">
                    <div id="p">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-inverse" id="wid-id-inmueble">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Datos del Inmueble</h3>
        </div>
        <div class="panel-body">

            <dl class="dl-horizontal">
                @{  
                                     
                    var inmueble = ViewBag.inmueble as consultaInmuebles;
                    var contribuyente = ViewBag.contribuyente as consultaContribuyente;

                    <dt>
                        @Html.DisplayName("Clave catastral")
                    </dt>

                    <dd>
                        Html.DisplayFor(model => inmueble.CatCca)
                    </dd>
                    <dt>
                        @Html.DisplayName("Ubicación")
                    </dt>

                    <dd>
                        Html.DisplayFor(model => inmueble.ColdDes)
                    </dd>

                    <dt>
                        @Html.DisplayName("Propietario")
                    </dt>

                    <dd>
                        Html.DisplayFor(model => contribuyente.RicNEm)
                    </dd>

                    <dt>
                        @Html.DisplayName("RTN")
                    </dt>

                    <dd>
                        Html.DisplayFor(model => contribuyente.RicRtn)
                    </dd>

                    <dt>
                        @Html.DisplayName("Área del Terreno")
                    </dt>

                    <dd>
                        Html.DisplayFor(model => inmueble.CatAre)
                    </dd>
                }
            </dl>

        </div>                
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-inverse" id="wid-id-cuentacorriente">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Datos de la Contribución por Mejoras</h3>
        </div>
        <div class="panel-body">
            <hr/>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CuentasCorrientes.catCca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentasCorrientes.catCca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CuentasCorrientes.tipoCuenta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentasCorrientes.tipoCuenta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CuentasCorrientes.montoAdeudado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentasCorrientes.montoAdeudado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CuentasCorrientes.fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentasCorrientes.fecha)
                </dd>

            </dl>

        </div>
    </div>
</div>

@using (Html.BeginForm(new { @action = "/PerformSubmit", idProyecto = Model.idProyecto, idCuentaCorriente = Model.idCuentaCorriente }))
{
    <div class="col-md-12">
        @if (ViewBag.showPrima)
        {
            <div class="col-md-4">
                <input type="submit" name="addPrima" value="Ingreso de Prima" class="btn btn-primary btn-lg">
            </div>
        }
        <div class="col-md-4">
            <input type="submit" name="accountState" value="Impresión Estado de Cuenta" class="btn btn-primary btn-lg">
        </div>
        <div class="col-md-4">
            <input type="submit" name="addPago" value="Ingreso de Nuevo Pago" class="btn btn-primary btn-lg">
        </div>
    </div>
}

<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
