﻿@model MVCBase.cxmInmueblesPorProyecto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Factorización</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inmueble: </h4>
        <h3>@Model.catCca</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idInmueblePorProyecto)
        <input type="hidden" name="idInfluencia" value="@Model.idInfluencia"/>
        @Html.HiddenFor(model => model.catCca)
        @Html.HiddenFor(model => model.fecha)

        <div class="form-group">
            @Html.LabelFor(model => model.idFactorArea, "Factor Área", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("idFactorArea", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFactorArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idFactorSocioEconomico, "Factor Socio Económico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("idFactorSocioEconomico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFactorSocioEconomico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idAccesoAjuste, "Acceso Ajuste", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("idAccesoAjuste", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idAccesoAjuste, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idFactorUso, "Factor Uso", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("idFactorUso", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFactorUso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idFactorDistancia, "Factor Distancia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("idFactorDistancia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFactorDistancia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Preview", "Proyectos", routeValues: new { id = ViewBag.idProyecto }, htmlAttributes: null)
</div>
