﻿@model IEnumerable<MVCBase.cxmInmueblesPorProyecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.catCca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.factorArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accesoAjuste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.factorDistancia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cxmFranja.idFranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactorSocioEconomico.factorSocioEconomico1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactorUso.factorUso1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.catCca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.factorArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accesoAjuste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.factorDistancia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cxmFranja.idFranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactorSocioEconomico.factorSocioEconomico1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactorUso.factorUso1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idInmueblePorProyecto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idInmueblePorProyecto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idInmueblePorProyecto })
        </td>
    </tr>
}

</table>
