﻿@model MVCBase.cxmProyectos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/jquery.gritter.css">
<h2>Contribución por mejoras</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Creación de proyectos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12">
            <div class="panel panel-inverse" id="wid-id-info">
                <ul class="panel-options">
                    <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
                </ul>
                <div class="panel-heading">
                    <h3 class="panel-title">Información general</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group" style="margin-top: 20px">
                        <div class="row">
                            @Html.LabelFor(model => model.nombreProyecto, "Nombre del Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.nombreProyecto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombreProyecto, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.ubicacion, "Ubicación", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ubicacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.contratista, "Contratista", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.contratista, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contratista, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.montoContratado, "Monto Contratado", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.montoContratado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.montoContratado, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.montoEjecutado, "Monto Ejecutado", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.montoEjecutado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.montoEjecutado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.areaContratada, "Area Contratada", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.areaContratada, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.areaContratada, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.areaEjecutada, "Area Ejecutada", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.areaEjecutada, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.areaEjecutada, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.medidaArea, "Medida Area", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.medidaArea, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.medidaArea, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.fechaInicio, "Fecha de Inicio", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            @Html.LabelFor(model => model.fechaFinalizacion, "Fecha de Finalización", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.fechaFinalizacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaFinalizacion, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.cantidadFranjas, "Cantidad de Influencias", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.cantidadFranjas, new { htmlAttributes = new { @class = "form-control", id = "cantfranjas" } })
                                @Html.ValidationMessageFor(model => model.cantidadFranjas, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1">
                                <a id="updatefranjas" class="btn btn-primary col-md-12"><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-inverse" id="wid-id-5" data-currentnbr="0" data-currentfranja="0">
                <div class="panel-heading">
                    <h3 class="panel-title">Franjas</h3>
                </div>
                <div class="panel-body" style="padding-left: 2px; padding-right: 2px;">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 1%;">
                            <a class="btn btn-primary col-md-4 col-md-offset-1" onclick="addFranjaItem()" style="cursor: pointer; margin-bottom: 1%; margin-top: 1%;" title="Agrega una Influencia"><i class="fa fa-plus-square fa-2x pull-left"></i>Agregar influencia</a>
                            <a class="btn btn-danger col-md-4 col-md-offset-1" onclick="removeLastFranjaItem()" style="cursor: pointer; margin-bottom: 1%; margin-top: 1%;" title="Elimina la influencia seleccionada"><i class="fa fa-trash-o fa-2x pull-left"></i>Eliminar franja</a>
                        </div>

                        <div class="col-md-12" style="padding-top: 1%">
                            <div class="panel panel-inverse" id="wid-id-6" data-currentnbr="0" data-currentfranja="0">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Porcentajes por Franja</h3>
                                </div>
                                <div class="panel-body" id="percentscontainer" style="padding-left: 2px; padding-right: 2px;" data-currentnbr="0">
                                    <div class="col-md-1" style="margin-top: 1%">
                                        <input type="hidden" class="form-control input" name="cxmInfluencia[0].idInfluencia" value="0"/>
                                        <input type="hidden" class="form-control input" name="cxmInfluencia[0].idProyecto" value="0"/>
                                        <input type="hidden" class="form-control input" name="cxmInfluencia[0].numFranja" value="0"/>
                                        <label class="col-md-2" for="cxmInfluencia[0].porcentaje">Directos</label>
                                        <input type="text" class="form-control input col-md-10 percent percents" id="cxmInfluencia[0].porcentaje" onkeyup="sumpercents(event)" name="cxmInfluencia[0].porcentaje"/>
                                        <input type="hidden" class="form-control input" name="cxmInfluencia[0].esDirecto" value="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div cla
                         ss="col-md-12" style="margin-bottom: 5%">
                        <div class="col-md-2" style="padding-left: 0px">
                            <input type="number" id="ncuentas" class="form-control input">
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" onclick="addInmuebles()" style="cursor: pointer; margin-bottom: 1%">Actualizar inmuebles</a>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 2px; padding-right: 2px;">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" id="navul">
                            <li class="active"><a href="#tabDirecto" class="link" data-toggle="tab"><strong>Directos</strong></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" id="tab-main">
                            <div class="tab-pane active" id="tabDirecto">                                
                                <div id="CtaCatastral" class="cta col-md-6" style="overflow: hidden; margin-bottom: 5px; display: inline-block">
                                    <div class="col-md-11" style="padding-left: 0px; padding-right: 0px">
                                        @Html.TextBox("cxmInfluencia[0].cxmInmueblesPorProyecto[0].catCca", null, new {@class = "form-control input", required = "required"})
                                        <input type="hidden" name="cxmInfluencia[0].cxmInmueblesPorProyecto[0].idInmueblePorProyecto" value="0"/>
                                        <input type="hidden" name="cxmInfluencia[0].cxmInmueblesPorProyecto[0].IdFranja" value="0"/>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="btn btn-danger" style="height: inherit" onclick="deleteItem($(this), '.cta');">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script type="text/javascript">

        function showMessage(message, color) {
            $.gritter.add({
                title: "Municipalidad de San Pedro Sula",
                text: message,
                class_name: "with-icon exclamation-circle warning"
            });
        }

        function deleteItem(element, classToFind) {
            var count = $(classToFind).length;
            element.closest(classToFind).remove();
        }

        document.addEventListener("DOMContentLoaded", function () {

            document.getElementById('updatefranjas').addEventListener('click', function () {
                if ($('#cantfranjas').val() > 0) {
                    var franjas = $('ul#navul li').length;
                    var franjasText = $('#cantfranjas').val();
                    var iterations = (franjasText > franjas) ? (franjasText - franjas) : (franjas - franjasText);
                    for (var i = 0; i < iterations; i++) {
                        if (franjasText > franjas) addFranjaItem();
                        else removeLastFranjaItem();
                    }
                }
            });

        });

        function addInmuebles() {
            var container = $($('ul#navul li.active').children().first().attr('href'));
            if ($('#ncuentas').val() > 0) {
                var cuentasText = $('#ncuentas').val();                
                var cuentas = $($('ul#navul li.active').children().first().attr('href') + ' .cta').length;
                var iterations = (cuentasText > cuentas) ? (cuentasText - cuentas) : (cuentas - cuentasText);
                for (var i = 0; i < iterations; i++) {
                    if (cuentasText > cuentas) addItem($('#wid-id-5'), cta, container, 'addcatcca');
                    else removeLastFranjaItem();
                }
            }
        }

        function addFranjaItem() {
            var nbr = $('#wid-id-5').data('currentfranja');
            $('#navul').append(liItem.replace('tab0', 'tab' + nbr).replace('<strong>Popular</strong>', '<strong>Franja ' + parseInt(nbr + 1) + '</strong>'));
            $('#tab-main').append(divTab.replace('tab0', 'tab' + nbr).replace('onclick', 'onclick="addInmuebles()"'));
            addItem($('#wid-id-5'), cta, $('#tab' + nbr), 'newfranja');         
            addItem($('#percentscontainer'), percentInputs.replace('Directos', 'Influencia' + parseInt(nbr + 1)).replace('percentfranja', 
                'percentfranja' + parseInt(nbr + 1)), $('#percentscontainer'), '0');
            $('#wid-id-5').data('currentfranja', nbr + 1);
        }

        function addPercentItem(newHtml) {
            var franjas = $('ul#navul li').length - 1;                     
            newHtml = newHtml.replace('cxmfranjaidfranja', 'cxmInfluencia[' + franjas + '].IdFranja');
            newHtml = newHtml.replace('cxmfranjaidproyecto', 'cxmInfluencia[' + franjas + '].idProyecto');
            newHtml = newHtml.replace('cxmfranjanumfranja', 'cxmInfluencia[' + franjas + '].numFranja');
            newHtml = newHtml.replace('valuenumfranja', franjas);
            newHtml = newHtml.replace(RegExp('cxmfranjaporcentaje', 'g'), 'cxmInfluencia[' + franjas + '].porcentaje');
            newHtml = newHtml.replace('cxmfranjaesdirecto', 'cxmInfluencia[' + franjas + '].esDirecto');
            return newHtml;
        }

        function addInmuebleItem(newHtml, container, config) {            
            var activeTab = $('ul#navul li.active').index();
            var franjas = 0;
            if (config == 'newfranja') franjas = parseInt($('ul#navul li').length - 1); else franjas = activeTab;
            var texts = $(container).find('.form-control').length;
            newHtml = newHtml.replace('cxmfranjacatcca', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].catCca');
            newHtml = newHtml.replace('cxmfranjaidinmuebleporproyecto', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idInmueblePorProyecto');
            newHtml = newHtml.replace('cxmfranjaidinmueblefranja', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].IdFranja');
            return newHtml;
        }

        function removeFranjaItem() {
            var nbr = $('#wid-id-5').data('currentfranja');
            var activeTab = $('ul#navul li.active');
            var indexActiveTab = $(activeTab).index();
            if (indexActiveTab != "0") {
                $(activeTab).remove();
                $('#tab' + indexActiveTab - 1).remove();
                $('#wid-id-5').data('currentfranja', nbr - 1);
            } else showMessage("No se puede eliminar la franja 'Directos'", "#C46A69");
        }

        function removeLastFranjaItem() {
            var nbr = $('#wid-id-5').data('currentfranja');
            var lastLi = $('ul#navul li').last().remove();
            $('#tab' + nbr).remove();
            $('#percentfranja' + nbr).remove();
            $('#wid-id-5').data('currentfranja', nbr - 1);
        }
         
        function addItem(mainContainer, element, container, config) {
            var id = mainContainer.data('currentnbr');
            var newId = id + 1;
            var newHtml = element.replace(new RegExp('\\[.*?\\]', 'g'), '[' + newId + ']').replace(new RegExp('_.*?__', 'g'), '_' + newId + '__');
            newHtml = addPercentItem(newHtml);
            newHtml = addInmuebleItem(newHtml, container, config);
            container.append(newHtml);
            mainContainer.data('currentnbr', newId);
        }

        function sumpercents(event) {
            var total = 0;
            $('.percent').each(function () {
                if (!isNaN(this.value) && this.value.lenght != 0) total += parseInt(this.value);
            });
            if (total > 100) {                                         
                showMessage("La suma de porcentajes no debe ser mayor a 100", "#C46A69");
                var id = event.target.id;
                $(event.target).val('');
            }
        }

        var liItem = '<li><a href="#tab0" data-toggle="tab"><strong>Popular</strong></a></li>';
        var divTab = '<div class="tab-pane" id="tab0">' +
                        '<div class="col-md-12">' +                            
                            '<a class="btn btn-primary" onclick style="cursor:pointer; margin-bottom:1%">Agregar cuenta catastral</a>' +
                        '</div>' +
                    '</div>';
        var cta = '<div id="CtaCatastral" class="cta col-md-6" style="overflow:hidden; margin-bottom:5px; display: inline-block">' +
                        '<div class="col-md-11" style="padding-left: 0px; padding-right: 0px">' +
                            '<input type="text" name="cxmfranjacatcca" class="form-control input" />' +
                            '<input type="hidden" name="cxmfranjaidinmuebleporproyecto" value="0"/>' +
                            '<input type="hidden" name="cxmfranjaidinmueblefranja" value="0"/>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                            '<a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), \'.cta\');">' +
                                '<i class="fa fa-minus"></i>' +
                            '</a>' +
                        '</div>' +
                    '</div>';
        var percentInputs = '<div class="col-md-1" id="percentfranja" style="margin-top:1%">' +
                                '<input type="hidden" class="form-control input" name="cxmfranjaidfranja" value="0" />' +
                                '<input type="hidden" class="form-control input" name="cxmfranjaidproyecto" value="0" />' +
                                '<input type="hidden" class="form-control input" name="cxmfranjanumfranja" value="valuenumfranja"/>' +
                                '<label class="col-md-1" for="cxmfranjaporcentaje">Directos</label>' +
                                '<input type="text" id="cxmfranjaporcentaje" class="form-control input col-md-10 percent" onkeyup="sumpercents(event)" name="cxmfranjaporcentaje"/>' +
                                '<input type="hidden" class="form-control input" name="cxmfranjaesdirecto" value="true" />' +
                            '<div>';
    </script>
