﻿@model IEnumerable<MVCBase.cxmProyectos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <br/>
    <div class="panel panel-inverse" id="wid-id-proyectosIndex">
        <ul class="panel-options">
            <li><a class="" href="/Proyectos/Create"><i class="fa fa-pencil-square-o fa-2x" title="Nuevo Proyecto"></i></a></li>
            <li><a class="panel-minimize" id="multipleEdit"><i class="fa fa-chevron-down lg"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Listado de Proyectos</h3>
        </div>
        <div class="panel-body">

            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                <thead>
                    <tr>
                        <th class="hasinput" style="width: 20%">
                            <input class="form-control" placeholder="Nombre" type="text">
                        </th>
                        <th class="hasinput icon-addon" style="width: auto">
                            <input class="form-control" placeholder="Contratista" type="text">
                        </th>
                        <th class="hasinput" style="width: 10%">
                            <input class="form-control" placeholder="Valor del Proyecto" type="text">
                        </th>
                        <th class="hasinput" style="width: 5%">
                            <input class="form-control" placeholder="Monto Ejecutado" type="text">
                        </th>
                        <th class="hasinput" style="width: 5%">
                            <input class="form-control" placeholder="Área Ejecutada" type="text">
                        </th>
                        <th class="hasinput" style="width: 15%">
                            <input class="form-control" placeholder="Fecha de Inicio" type="text">
                        </th>
                        <th class="hasinput" style="width: 15%">
                            <input class="form-control" placeholder="Fecha de Finalización" type="text">
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th data-class="phone">Nombre</th>
                        <th data-hide="expand">Contratista</th>
                        <th data-hide="phone,tablet">Valor del Proyecto</th>
                        <th data-hide="phone,tablet">Monto Ejecutado</th>
                        <th data-hide="phone,tablet">Área Ejecutada</th>
                        <th data-hide="phone,tablet">Fecha de Inicio</th>
                        <th data-hide="phone,tablet">Fecha de Finalización</th>
                        <th data-hide="phone,tablet"></th>
                    </tr>
                </thead>
                <tbody>                   

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreProyecto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.contratista)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.valorProyecto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.montoEjecutado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.areaEjecutada)
                            </td>
                            <td>
                                @item.fechaInicio.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.fechaFinalizacion.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.ActionLink("Factorización", "Preview", new { id = item.idProyecto }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                                @*@Html.ActionLink("Delete", "Delete", new {id = item.idProyecto})*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
