﻿@using MVCBase.Models
@model MVCBase.cxmProyectos

@{
    ViewBag.Title = "Factorizacion de Inmuebles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contribución por mejoras</h2>

<div>
    <h4>Factorización de Inmuebles</h4>
    <hr />
<div class="col-md-12">
    @if (ViewBag.errorMessage != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Ocurrió un problema!</strong> @ViewBag.errorMessage
        </div>
    }
    @if (ViewBag.added != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Clave catastral ingresada!</strong> La cuenta se agrego exitosamente al proyecto.
        </div>
    }
    <div class="panel panel-inverse" id="wid-id-info">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Datos del Proyecto</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" style="margin-top: 20px">
                <div class="col-md-6" id="info">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Nombre del Proyecto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombreProyecto)
                        </dd>
                        <dt>
                            @Html.DisplayName("Ubicación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ubicacion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Descripción")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Contratista;")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.contratista)
                        </dd>

                        <dt>
                            @Html.DisplayName("Valor Proyecto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.valorProyecto)
                        </dd>

                        <dt>
                            @Html.DisplayName("Monto Contratado")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.montoContratado)
                        </dd>

                        <dt>
                            @Html.DisplayName("Monto Ejecutado")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.montoEjecutado)
                        </dd>

                        <dt>
                            @Html.DisplayName("Area Contratada")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.areaContratada)
                        </dd>

                        <dt>
                            @Html.DisplayName("Area Ejecutada")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.areaEjecutada)
                        </dd>

                        <dt>
                            @Html.DisplayName("Medida Area")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.medidaArea)
                        </dd>

                        <dt>
                            @Html.DisplayName("Fecha Inicio")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaInicio)
                        </dd>

                        <dt>
                            @Html.DisplayName("Fecha Finalizacion")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaFinalizacion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Cantidad Franjas")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cantidadFranjas)
                        </dd>
                    </dl>

                </div>
                <div class="col-md-6" id="infoRight" style="border: 1px; border-color: black; border-style: solid">
                    <div id="p">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-md-12">
        <div class="panel panel-inverse" id="wid-id-factorizacion">
            <ul class="panel-options">
                <li><a class="" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o fa-2x" title="Edición Múltiple"></i></a></li>
                <li><a class="panel-minimize" id="multipleEdit"><i class="fa fa-chevron-down lg"></i></a></li>
            </ul>
            <div class="panel-heading">
                <h3 class="panel-title">Cálculo Factorización</h3>
            </div>
            <div class="panel-body">

                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                    <thead>
                        <tr>
                            <th class="hasinput" style="width: 5%">
                                <input class="form-control" placeholder="Franja" type="text">
                            </th>
                            <th class="hasinput icon-addon" style="width: auto">
                                <input class="form-control" placeholder="Cuenta Catastral" type="text">
                            </th>
                            <th class="hasinput" style="width: auto">
                                <input class="form-control" placeholder="Factor Individual" type="text">
                            </th>
                            <th class="hasinput" style="width: 16%">
                                <input class="form-control" placeholder="Área Gravable" type="text">
                            </th>
                            <th class="hasinput" style="width: auto">
                                <input class="form-control" placeholder="Factor de Conversión" type="text">
                            </th>
                            <th class="hasinput" style="width: 16%">
                                <input class="form-control" placeholder="Gravamen" type="text">
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th data-class="phone">Franja</th>
                            <th data-hide="expand">C. Catastral</th>
                            <th data-hide="phone,tablet">FI</th>
                            <th data-hide="phone,tablet">AG</th>
                            <th data-hide="phone,tablet">FC</th>
                            <th data-hide="phone,tablet">Gravamen</th>
                            <th data-hide="phone,tablet"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var inmueble in (ViewBag.cuentas as List<CuentasPorFranjaViewModel>))
                        {
                            <tr>
                                <td>
                                    @inmueble.NumFranja
                                </td>
                                <td>
                                    @inmueble.CatCca
                                </td>
                                <td>
                                    @inmueble.FactorIndividualStr
                                </td>
                                <td>
                                    @inmueble.AreaGravableStr
                                </td>
                                <td>
                                    @inmueble.FactorConversionStr
                                </td>
                                <td>
                                    @inmueble.GravamenStr
                                </td>
                                <td>
                                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "cxmInmueblesPorProyectoes", routeValues: new { id = inmueble.IdInmueblePorProyecto }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    @using (Html.BeginForm(new { @action = "/PerformSubmit" }))
    {
        <input type="hidden" name="idProyecto" value="@Model.idProyecto" />
        <div class="col-md-12 btn-group btn-group-justified" role="group" aria-label="....">
            <div class="btn-group" role="group">
                <input type="button" data-toggle="modal" data-target="#modalAddCca" id="addCca" name="addCca" value="Agregar clave catastral" class="btn btn-primary btn-lg">
            </div>
            <div  class="btn-group" role="group">
                <input type="submit" name="closeCarga" value="Cerrar carga" class="btn btn-primary btn-lg">
            </div>
            <div class="btn-group" role="group">
                <input type="submit" name="printDocs" value="Imprimir gravámenes" class="btn btn-primary btn-lg">
            </div>
            <div class="btn-group" role="group">
                <input type="submit" name="createCc" value="Crear cuentas corrientes" class="btn btn-primary btn-lg">
            </div>
        </div>
    }
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edición Múltiple</h4>
            </div>
            <form id="edicionMultiple" action="/Proyectos/UpdateFranja" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="idProyecto" value="@Model.idProyecto" />
                    <div class="form-group">
                        <label for="franjas" class="control-label">Influencia</label>
                        @Html.DropDownList("franjas", null, htmlAttributes: new { @class = "form-control", id = "franjas" })
                    </div>
                    <div class="form-group">
                        <label for="factores" class="control-label">Factor</label>
                        @Html.DropDownList("factores", null, htmlAttributes: new { @class = "form-control", id = "factores" })
                    </div>
                    <div class="form-group" id="divValores">
                        <label for="valores" class="control-label">Valor</label>
                        @Html.DropDownList("valores", null, htmlAttributes: new { @class = "form-control", id = "valores" })
                    </div>
                </div>
                <div class="modal-footer">
                    <br />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Aplicar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddCca" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addCcaLabel"><strong>Agregar cuenta catastral</strong></h4>
            </div>
            <form id="edicionMultiple" action="/Proyectos/InsertCatCca" method="POST">
                <div class="modal-body">
                    <hr />
                    <input type="hidden" name="idProyecto" value="@Model.idProyecto" />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="franjas" class="control-label col-md-6">Influencia</label>
                            @Html.DropDownList("idFranja", null, htmlAttributes: new { @class = "form-control input col-md-6", id = "franjas" })
                        </div>
                        <div class="col-md-6">
                            <label for="cuentaCat" class="control-label col-md-1">Cuenta</label>
                            <input type="text" id="cuentaCat" name="catCca" class="form-control input col-md-5" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="factorArea" class="control-label col-md-6">Factor Área</label>
                            @Html.DropDownList("idFactorArea", null, htmlAttributes: new { @class = "form-control input col-md-6", id = "factorArea" })
                        </div>
                        <div class="col-md-6">
                            <label for="factorDistancia" class="control-label col-md-6">Factor Distancia</label>
                            @Html.DropDownList("idFactorDistancia", null, htmlAttributes: new { @class = "form-control input", id = "factorDistancia" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="accesoAjuste" class="control-label col-md-6">Acceso Ajuste</label>
                            @Html.DropDownList("idAccesoAjuste", null, htmlAttributes: new { @class = "form-control input col-md-6", id = "accesoAjuste" })
                        </div>
                        <div class="col-md-6">
                            <label for="factorUso" class="control-label col-md-6">Factor Uso</label>
                            @Html.DropDownList("idFactorUso", null, htmlAttributes: new { @class = "form-control input col-md-6", id = "factorUso" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="factorSocioeconomico" class="control-label col-md-8">Factor Socioeconómico</label>
                            @Html.DropDownList("idFactorSocioEconomico", null, htmlAttributes: new { @class = "form-control input col-md-6", id = "factorSocioeconomico" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <br />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Aplicar Cambios" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#infoRight').height($('#info').height());
        $('#p').css('text-align', 'center');
        $('#p').css('vertical-align', 'middle');
        $('#factores').change(function () {
            var factor = $("#factores").val();
            $.ajax({
                method: "GET",
                url: "/Proyectos/ValoresPerFactor",
                data: { factor: factor }
            }).done(function (data) {
                $("#divValores").html(data);
            });
        });
    });

    function addCca(idProyecto, franja, cuenta, factorArea, factorSocioEconomico, accesoAjuste, factorUso, factorDistancia) {
        $.ajax({
            method: "GET",
            url: "/Proyectos/InsertCatCca",
            data: {
                idProyecto: idProyecto,
                franja: franja,
                cuenta: cuenta,
                factorArea: factorArea,
                factorSocioEconomico: factorSocioEconomico,
                accesoAjuste: accesoAjuste,
                factorUso: factorUso,
                factorDistancia: factorDistancia
            }
        }).done(function (data) {
            if (data != "NOTOK") {
                var factorIndividual = multiplyFactores(factorArea, factorSocioEconomico, accesoAjuste, factorUso, factorDistancia);
            }
        });
    };

    function multiplyFactores(factorArea, factorSocioEconomico, accesoAjuste, factorUso, factorDistancia) {
        return (factorArea * factorSocioEconomico * accesoAjuste * factorUso * factorDistancia);
    }
</script>
