﻿@model IEnumerable<MVCBase.FactorDistancia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Valor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFactorDistancia }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFactorDistancia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFactorDistancia })
        </td>
    </tr>
}

</table>
