﻿@model IEnumerable<MVCBase.Pagos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPrima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentasCorrientes.catCca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPrima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentasCorrientes.catCca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPago })
        </td>
    </tr>
}

</table>
