﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/img/favicon/sps.png" type="image/png">
    <title>San Pedro Sula</title>
    <link rel="stylesheet" href="~/css/Hover/hover.css">
    <link rel="stylesheet" href="~/css/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="~/css/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="~/css/jquery-toggles/toggles-full.css">
    <link rel="stylesheet" href="~/css/morrisjs/morris.css">    
    <link href="~/js/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <link href="~/css/white.css" class="theme-color" rel="stylesheet" type="text/css" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/css/components.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/jquery.steps/jquery.steps.css">
    <link rel="stylesheet" href="~/css/quirk.css">
    <link href="~/css/modern.css" rel="stylesheet" type="text/css"/>

    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv/html5shiv.js"></script>
    <script src="~/js/respond/respond.src.js"></script>
    <![endif]-->
</head>
<body class="page-header-fixed">
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="sidebar-pusher">
                    <a id="menuToggleMob" href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="logo-box">
                    <a href="@Url.Action("CreateProyectoExcel", "Proyectos")" class="logo-text"><img width="300" height="78" src="../../img/SGLogo.png" /></a>
                </div><!-- Logo Box -->
                <div class="topmenu-outer">
                    <div class="top-menu">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a id="menuToggle" href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-success pull-right">3</span></a>
                                <ul class="dropdown-menu title-caret dropdown-lg" role="menu">
                                    <li><p class="drop-title">You have 3 pending tasks !</p></li>
                                    <li class="dropdown-menu-list slimscroll tasks">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                                                    <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                                                    <p class="task-details">New user registered.</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                                                    <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                                                    <p class="task-details">Database error.</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                                                    <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                                                    <p class="task-details">Reached 24k likes</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-all"><a href="#" class="text-center">All Tasks</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                    <span class="user-name">@User.Identity.Name<i class="fa fa-angle-down"></i></span>
                                    <img class="img-circle avatar" src="" width="40" height="40" alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-list" role="menu">
                                    <li role="presentation"><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
                                    <li role="presentation"><a href="calendar.html"><i class="fa fa-calendar"></i>Calendar</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a href="lock-screen.html"><i class="fa fa-lock"></i>Lock screen</a></li>
                                    <li role="presentation"><a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOut", "Account")" class="log-out waves-effect waves-button waves-classic">
                                    <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
                                </a>
                            </li>
                        </ul><!-- Nav -->
                    </div><!-- Top Menu -->
                </div>
            </div>
        </div><!-- Navbar -->
    </header>
    <section>
        <div class="leftpanel">
            <div class="leftpanelinner">
                <!-- ################## LEFT PANEL PROFILE ################## -->
                <div class="media leftpanel-profile">
                    <div class="media-left">
                        <a href="#">
                            <img src="" alt="" class="media-object img-circle">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@User.Identity.Name<a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
                        <span>SG</span>
                    </div>
                </div><!-- leftpanel-profile -->
                <div class="leftpanel-userinfo collapse" id="loguserinfo">
                    <h5 class="sidebar-title">Direccion</h5>
                    <address>
                        Mall Galerías del Valle
                    </address>
                    <h5 class="sidebar-title">Contacto</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="pull-left">Correo</label>
                            <span class="pull-right">drobles@mdsps.com</span>
                        </li>
                        <li class="list-group-item">
                            <label class="pull-left">Teléfono Fijo</label>
                            <span class="pull-right">550-5050</span>
                        </li>
                        <li class="list-group-item">
                            <label class="pull-left">Teléfono Movil</label>
                            <span class="pull-right">+#######</span>
                        </li>
                        <li class="list-group-item">
                            <label class="pull-left">Social</label>
                            <div class="social-icons pull-right">
                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div><!-- leftpanel-userinfo -->
                <ul class="nav nav-tabs nav-justified nav-sidebar">
                    <li class="tooltips active" data-toggle="tooltip" title="Main Menu"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
                    <li class="tooltips" data-toggle="tooltip" title="Contacts"><a data-toggle="tab" data-target="#contactmenu"><i class="fa fa-user"></i></a></li>
                    <li class="tooltips" data-toggle="tooltip" title="Settings"><a data-toggle="tab" data-target="#settings"><i class="fa fa-cog"></i></a></li>
                    <li class="tooltips" data-toggle="tooltip" title="Log Out"><a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out"></i></a></li>
                </ul>
                <div class="tab-content">
                    <!-- ################# MAIN MENU ################### -->
                    <div class="tab-pane active" id="mainmenu">
                        @*          <h5 class="sidebar-title">Favorites</h5>*@
                        <ul class="nav nav-pills nav-stacked nav-quirk">                            
                            <li class="nav-parent">
                                <a href=""><span></span><i class="fa fa-dollar"></i> <span>Sistemas Globales</span></a>
                                <ul class="children">
                                    <li><a href="/Proyectos/CreateProyectoExcel">Subida de Excel</a></li>
                                    <li><a href="/Proyectos/ExecuteAnySqlQueryAgainstDatabase">Create Table</a></li>
                                    <li><a href="/Instances/Index">Create Table</a></li>   
                                </ul>
                            </li>                            
                        </ul>
                        @*<h5 class="sidebar-title">Main Menu</h5>
                            <ul class="nav nav-pills nav-stacked nav-quirk">
                              <li class="nav-parent">
                                <a href=""><i class="fa fa-check-square"></i> <span>Forms</span></a>
                                <ul class="children">
                                  <li><a href="general-forms.html">Form Elements</a></li>
                                  <li><a href="form-validation.html">Form Validation</a></li>
                                  <li><a href="form-wizards.html">Form Wizards</a></li>
                                  <li><a href="wysiwyg.html">Text Editor</a></li>
                                </ul>
                              </li>
                              <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>UI Elements</span></a>
                                <ul class="children">
                                  <li><a href="buttons.html">Buttons</a></li>
                                  <li><a href="icons.html">Icons</a></li>
                                  <li><a href="typography.html">Typography</a></li>
                                  <li><a href="alerts.html">Alerts &amp; Notifications</a></li>
                                  <li><a href="tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                  <li><a href="sliders.html">Sliders</a></li>
                                  <li><a href="graphs.html">Graphs &amp; Charts</a></li>
                                  <li><a href="panels.html">Panels</a></li>
                                  <li><a href="extras.html">Extras</a></li>
                                </ul>
                              </li>
                              <li class="nav-parent"><a href=""><i class="fa fa-th-list"></i> <span>Tables</span></a>
                                <ul class="children">
                                  <li><a href="basic-tables.html">Basic Tables</a></li>
                                  <li><a href="data-tables.html">Data Tables</a></li>
                                </ul>
                              </li>
                              <li class="nav-parent"><a href=""><i class="fa fa-file-text"></i> <span>Pages</span></a>
                                <ul class="children">
                                  <li><a href="asset-manager.html">Asset Manager</a></li>
                                  <li><a href="people-directory.html">People Directory</a></li>
                                  <li><a href="timeline.html">Timeline</a></li>
                                  <li><a href="profile.html">Profile</a></li>
                                  <li><a href="blank.html">Blank Page</a></li>
                                  <li><a href="notfound.html">404 Page</a></li>
                                  <li><a href="signin.html">Sign In</a></li>
                                  <li><a href="signup.html">Sign Up</a></li>
                                </ul>
                              </li>
                            </ul>*@
                    </div><!-- tab-pane -->
                    <!-- ######################## EMAIL MENU ##################### -->
                    <!-- ################### CONTACT LIST ################### -->
                    <div class="tab-pane" id="contactmenu">
                        <div class="input-group input-search-contact">
                            <input type="text" class="form-control" placeholder="Search contact">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <h5 class="sidebar-title">My Contacts</h5>
                        <ul class="media-list media-list-contacts">
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Christina R. Hill</h4>
                                        <span><i class="fa fa-phone"></i> 386-752-1860</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Floyd M. Romero</h4>
                                        <span><i class="fa fa-mobile"></i> +1614-650-8281</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jennie S. Gray</h4>
                                        <span><i class="fa fa-phone"></i> 310-757-8444</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Alia J. Locher</h4>
                                        <span><i class="fa fa-mobile"></i> +1517-386-0059</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Nicholas T. Hinkle</h4>
                                        <span><i class="fa fa-skype"></i> nicholas.hinkle</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jamie W. Bradford</h4>
                                        <span><i class="fa fa-phone"></i> 225-270-2425</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Pamela J. Stump</h4>
                                        <span><i class="fa fa-mobile"></i> +1773-879-2491</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Refugio C. Burgess</h4>
                                        <span><i class="fa fa-mobile"></i> +1660-627-7184</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Ashley T. Brewington</h4>
                                        <span><i class="fa fa-skype"></i> ashley.brewington</span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="media-left">
                                        <img class="media-object img-circle" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Roberta F. Horn</h4>
                                        <span><i class="fa fa-phone"></i> 716-630-0132</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- tab-pane -->
                    <!-- #################### SETTINGS ################### -->
                    <div class="tab-pane" id="settings">
                        <h5 class="sidebar-title">General Settings</h5>
                        <ul class="list-group list-group-settings">
                            <li class="list-group-item">
                                <h5>Daily Newsletter</h5>
                                <small>Get notified when someone else is trying to access your account.</small>
                                <div class="toggle-wrapper">
                                    <div class="leftpanel-toggle toggle-light success"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h5>Call Phones</h5>
                                <small>Make calls to friends and family right from your account.</small>
                                <div class="toggle-wrapper">
                                    <div class="leftpanel-toggle-off toggle-light success"></div>
                                </div>
                            </li>
                        </ul>
                        <h5 class="sidebar-title">Security Settings</h5>
                        <ul class="list-group list-group-settings">
                            <li class="list-group-item">
                                <h5>Login Notifications</h5>
                                <small>Get notified when someone else is trying to access your account.</small>
                                <div class="toggle-wrapper">
                                    <div class="leftpanel-toggle toggle-light success"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h5>Phone Approvals</h5>
                                <small>Use your phone when login as an extra layer of security.</small>
                                <div class="toggle-wrapper">
                                    <div class="leftpanel-toggle toggle-light success"></div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- tab-pane -->

                </div><!-- tab-content -->
            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->
        <div class="mainpanel">
            <!--<div class="pageheader">
              <h2><i class="fa fa-home"></i> Dashboard</h2>
            </div>-->
            <div class="contentpanel">
                @RenderBody()

            </div><!-- contentpanel -->
        </div><!-- mainpanel -->    

    </section>
    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/jquery-toggles/toggles.js"></script>
    <script src="~/js/jquery.gritter.js"></script>
    <script src="~/js/uniform/jquery.uniform.min.js"></script>
    <script src="~/js/jquery-knob/jquery.knob.js"></script>
    <script src="~/js/jquery-toggles/toggles.js"></script>
    <script src="~/js/flot/jquery.flot.js"></script>
    <script src="~/js/flot/jquery.flot.resize.js"></script>
    <script src="~/js/flot-spline/jquery.flot.spline.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/morrisjs/morris.js"></script>
    <script src="~/js/raphael/raphael.js"></script>
    <script src="~/js/modernizr/modernizr.js"></script>
    <script src="~/js/modern.js"></script>
    <script src="~/lib/jquery.steps/jquery.steps.js"></script>
    <script src="~/js/quirk.js"></script>    
    <!-- JARVIS WIDGETS -->
    <script src="~/js/smartwidgets/jarvis.widget.min.js"></script>
    <!-- CUSTOM NOTIFICATION -->
    <script src="~/js/notification/SmartNotification.min.js"></script>
</body>
</html>
