﻿
@{
    ViewBag.Title = "EncuestaSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewBag.message</h1>
    <br/>
    @{
        bool showEnlace = (bool)ViewBag.showEnlace;
        if (showEnlace)
        {
            <a class="btn btn-primary btn-md center-block col-md-4" href="@ViewBag.enlace">Ok</a>
        }
    }
</div>