﻿@model IEnumerable<MVCBase.Orden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Ordenes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionOrden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionOrden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOrden }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOrden }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOrden })
        </td>
    </tr>
}

</table>
