﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carga de Archivos</h2>

@using (Html.BeginForm("UploadFile", "Proyectos", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Migración de Excel a Base de Datos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="contentpanel">
            <div class="mb15"></div>
            <div class="row">
                <div class="col-md-10">
                    @*<h4 class="panel-title mb5">Emphasize Step Wizard</h4>
                    <p class="mb15">An emphasized step style wizard that is perfect for e-commerce websites.</p>*@

                    

                        

                        @*<div id="wizard-basic2" class="wizard-style2 wizard clearfix" role="application">
                            <div class="steps clearfix">
                                <ul role="tablist"><li role="tab" class="first done" aria-disabled="false" aria-selected="false"><a id="wizard-basic2-t-0" href="#wizard-basic2-h-0" aria-controls="wizard-basic2-p-0"><span class="number">1.</span> Personal Details <small>Enter your personal information.</small></a></li><li role="tab" class="done" aria-disabled="false" aria-selected="false"><a id="wizard-basic2-t-1" href="#wizard-basic2-h-1" aria-controls="wizard-basic2-p-1"><span class="number">2.</span> Shipping Details <small>Choose your shipping options.</small></a></li><li role="tab" class="last current" aria-disabled="false" aria-selected="true"><a id="wizard-basic2-t-2" href="#wizard-basic2-h-2" aria-controls="wizard-basic2-p-2"><span class="current-info audible">current step: </span><span class="number">3.</span> Payment Details <small>Enter your card information.</small></a></li></ul>
                            </div>
                            <div class="content clearfix">
                                <h3 id="wizard-basic2-h-0" tabindex="-1" class="title">
                                    Carga de Archivo <small>Suba el archivo de Excel.</small>
                                </h3>
                                <div id="wizard-basic2-p-0" role="tabpanel" aria-labelledby="wizard-basic2-h-0" class="body" aria-hidden="true" style="left: -904px; display: none;">
                                    <div class="col-md-4">
                                        <label class="col-md-2" for="file[0]">Archivo</label>
                                        <input type="file" class="form-control input col-md-4" name="file[0]" id="file[0]" />
                                    </div>
                                </div>
                                <h3 id="wizard-basic2-h-1" tabindex="-1" class="title">
                                    Shipping Details <small>Choose your shipping options.</small>
                                </h3>
                                <div id="wizard-basic2-p-1" role="tabpanel" aria-labelledby="wizard-basic2-h-1" class="body" aria-hidden="true" style="display: none; left: -904px;">
                                    <p>Wonderful transition effects.</p>
                                </div>
                                <h3 id="wizard-basic2-h-2" tabindex="-1" class="title current">
                                    Payment Details <small>Enter your card information.</small>
                                </h3>
                                <div id="wizard-basic2-p-2" role="tabpanel" aria-labelledby="wizard-basic2-h-2" class="body current" aria-hidden="false" style="display: block; left: 0px;">
                                    <p>The next and previous buttons help you to navigate through your content.</p>
                                </div>
                            </div>
                            <div class="actions clearfix">
                                <ul role="menu" aria-label="Pagination"><li class="" aria-disabled="false"><a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="true" aria-disabled="true" class="disabled" style="display: none;"><a href="#next" role="menuitem">Next</a></li><li aria-hidden="false" style="display: block;"><a href="#finish" role="menuitem">Finish</a></li></ul>
                            </div>
                        </div>*@
           
                </div>
            </div>
        </div>
        <div class="col-md-12">
        <div class="panel panel-inverse" id="wid-id-5" data-currentnbr="0" data-currentfranja="0">        
                <div class="panel-heading">
                    <h3 class="panel-title">Subida de Archivo</h3>
                </div>
                <div class="panel-body" style="padding-left: 2px; padding-right: 2px;">
                    <div class="row">

                        <div class="col-md-12" style="margin-top: 1%">
                            <div class="col-md-2">
                                <label class="col-md-2" for="file">Archivo</label>
                                <input type="file" onchange="GetDefaultValuesForFile(this.value)" class="form-control input col-md-4" name="file" id="file"/>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12" for="file">Fila Inicial</label>
                                <input type="number" min="0" class="form-control input col-md-12" name="filainicial" id="filaInicial"/>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12" for="file">No. de Columnas</label>
                                <input type="number" min="0" class="form-control input col-md-12" name="columnas" id="columnas"/>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-12" for="file">Databases</label>
                                @Html.DropDownList("databases", (ViewBag.databases as SelectList),
                               new { @class = "form-control input col-md-12", id = "selecteddb",
                                   onchange = "getdbtables()"
                               })
                            </div>
                            <div class="col-md-3" id="tablesDiv">
                                <label class="col-md-12" for="file">Tablas</label>
                                <Select class="form-control input col-md-12"></Select>
                            </div>
                        </div>                        

                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Subir" />
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->
    </div>

}

<script type="text/javascript">

        function showMessage(message, color) {
            $.gritter.add({
                title: "Municipalidad de San Pedro Sula",
                text: message,
                class_name: "with-icon exclamation-circle warning"
            });
        }


document.addEventListener('DOMContentLoaded', function () {

  'use strict';
    
  $('#wizard-basic2').steps({    
    headerTag: 'h3',
    bodyTag: 'div',
    transitionEffect: 'slideLeft',
    autoFocus: true
  });

    

});

function GetDefaultValuesForFile(value) {
    $.ajax({
        method: "POST",
        datatype: "json",
        async: false,
        url: "/Proyectos/GetDefaultValuesForFile",
        data: { file: value }
    }).success(function (data) {
        if (data != "NOTFOUND") {
            $('#filaInicial').val(data.NumFila);
            $('#columnas').val(data.NumColumns);
            $('#selecteddb').val(data.IdDbInstance);
            getdbtables();
        }        
    }).fail(function(data) {
        if (data == "") {
            
        }
    });    
    //getTableIndex();
}

function getdbtables() {
    var selecteddb = $('#selecteddb').val();
    $.ajax({
        method: "POST",
        datatype: "json",
        async: false,
        url: "/Proyectos/GetDBTables",
        data: { selecteddb: selecteddb }
    }).success(function (data) {
        $('#tablesDiv').html(data);
    });
}

function getTableIndex() {
    $.ajax({
        method: "POST",
        datatype: "json",
        async: false,
        url: "/Proyectos/GetIndexTable",
    }).success(function (data) {
        $('#selectedtable').val(data.Index);
    });
}

</script>
