﻿@model MVCBase.cxmProyectos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cxmProyectos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contratista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contratista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoContratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoContratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoEjecutado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoEjecutado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaContratada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaContratada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaEjecutada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaEjecutada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medidaArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medidaArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinalizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadFranjas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadFranjas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProyecto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
