﻿
@{
    ViewBag.Title = "ExecuteAnySqlQueryAgainstDatabase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inserte una Sentencia SQL</h2>

@using (Html.BeginForm())
{

    <textarea name="query" rows="20"cols="50" class="col-md-10 form-control input"></textarea>
    <br/>
    <input type="submit" class="btn btn-primary" value="Ejecutar"/>

}
