﻿@using MVCBase.Controllers
@model MVCBase.Files
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carga de Archivos</h2>

@using (Html.BeginForm("InsertRecords", "Proyectos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Migración de Excel a Base de Datos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="contentpanel">
            <div class="mb15"></div>
            <div class="row">
                <div class="col-md-10">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-inverse" id="wid-id-5" data-currentnbr="0" data-currentfranja="0">
                <div class="panel-heading">
                    <h3 class="panel-title">Subida de Archivo</h3>
                </div>
                <div class="panel-body" style="padding-left: 2px; padding-right: 2px;">

                    @{
                        <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                            <thead>
                                <tr>
                                    <th class="col-md-6">Campos de la Tabla</th>
                                    <th class="col-md-6">Columnas de Excel</th>
                                </tr>
                            </thead>
                        </table>

                        int i = 0;
                        <input type="hidden" name="pair[Index][Index]" />
                        foreach (var field in Model.Fields)
                        {
                            SelectList selectListTabla = null;
                            List<Item> tablaItems = Session["fieldsTable"] as List<Item>;
                            tablaItems.Insert(0, new Item() { Index = -1, Name = "Ignorar" });
                            List<Item> fileItems = Session["fieldsExcel"] as List<Item>;
                            fileItems.Insert(0, new Item() { Index = -1, Name = "Ignorar" });
                            int indexTable = tablaItems.FirstOrDefault(x => x.Name == field.FieldTable).Index;
                            selectListTabla = new SelectList(tablaItems, "Index", "Name", indexTable);
                            SelectList selectListExcel = null;
                            int indexFile = fileItems.FirstOrDefault(x => x.Name == field.FieldFile).Index;
                            selectListExcel = new SelectList(fileItems, "Index", "Name", indexFile);
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.DropDownList("pair[" + i + "][0]", selectListTabla, new { @class = "form-control input col-md-12" })
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownList("pair[" + i + "][1]", selectListExcel, new { @class = "form-control input col-md-12" })
                                </div>
                            </div>
                            i++;
                        }

                    }

                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->
    </div>

                        }

<script type="text/javascript">

        function showMessage(message, color) {
            $.gritter.add({
                title: "Municipalidad de San Pedro Sula",
                text: message,
                class_name: "with-icon exclamation-circle warning"
            });
        }


document.addEventListener('DOMContentLoaded', function () {

  'use strict';

  $('#wizard-basic2').steps({
    headerTag: 'h3',
    bodyTag: 'div',
    transitionEffect: 'slideLeft',
    autoFocus: true
  });

});

</script>
