﻿@using MVCBase.Models
@model MVCBase.cxmProyectos

@{
    ViewBag.Title = "Factorizacion de Inmuebles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contribución por mejoras</h2>

<div>
    <h4>Factorización de Inmuebles</h4>
    <hr />
    <div class="col-md-6">
        @if (ViewBag.errorMessage != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Ocurrió un problema!</strong> @ViewBag.errorMessage
            </div>
        }
        @if (ViewBag.added != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Clave catastral ingresada!</strong> La cuenta se agrego exitosamente al proyecto.
            </div>
        }
        <div class="panel panel-inverse" id="wid-id-info">
            <ul class="panel-options">
                <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
            </ul>
            <div class="panel-heading">
                <h3 class="panel-title">Datos del Proyecto</h3>
            </div>
            <div class="panel-body">
                <div class="form-group" style="margin-top: 20px">
                    <div class="col-md-12" id="info">

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Nombre del Proyecto")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nombreProyecto)
                            </dd>
                            <dt>
                                @Html.DisplayName("Ubicación")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ubicacion)
                            </dd>

                            <dt>
                                @Html.DisplayName("Descripción")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayName("Contratista;")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.contratista)
                            </dd>

                            <dt>
                                @Html.DisplayName("Valor Proyecto")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.valorProyecto)
                            </dd>

                            <dt>
                                @Html.DisplayName("Monto Contratado")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.montoContratado)
                            </dd>

                            <dt>
                                @Html.DisplayName("Monto Ejecutado")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.montoEjecutado)
                            </dd>

                            <dt>
                                @Html.DisplayName("Area Contratada")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.areaContratada)
                            </dd>

                            <dt>
                                @Html.DisplayName("Area Ejecutada")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.areaEjecutada)
                            </dd>

                            <dt>
                                @Html.DisplayName("Medida Area")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.medidaArea)
                            </dd>

                            <dt>
                                @Html.DisplayName("Fecha Inicio")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fechaInicio)
                            </dd>

                            <dt>
                                @Html.DisplayName("Fecha Finalizacion")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fechaFinalizacion)
                            </dd>

                            <dt>
                                @Html.DisplayName("Cantidad Franjas")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cantidadFranjas)
                            </dd>
                        </dl>

                    </div>                   
                </div>
            </div>
        </div>
    </div>

<div class="col-md-6">
    <div class="panel panel-inverse" id="wid-id-influencias">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Cálculo Factorización</h3>
        </div>
        <div class="panel-body">

            <table id="datatable_influencias" class="table table-striped table-bordered" width="100%">
                <thead>
                <tr>
                    <th class="col-md-1">No.</th>
                    <th class="col-md-2">Porcentaje de área</th>
                    <th class="col-md-3">Áreas Gravables</th>
                    <th class="col-md-3">Factor Conversión</th>
                    <th class="col-md-3">Suma Grav.</th>
                </tr>
                </thead>
                <tbody>
                @if (ViewBag.influencias != null)
                {
                    var influencias = ViewBag.influencias as List<InfluenciaViewModel>;
                    foreach (var influencia in influencias)
                    {
                         <tr>
                             <td>@influencia.NumInfluencia</td>
                             <td>@influencia.Porcentaje</td>
                             <td>@influencia.TotalAreasGravables</td>
                             <td>@influencia.FactorConversion</td>
                             <td>@influencia.Gravamenes</td>
                         </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="panel panel-inverse" id="wid-id-factorizacion">
        <ul class="panel-options">
            <li><a class="" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o fa-2x" title="Edición Múltiple"></i></a></li>
            <li><a class="panel-minimize" id="multipleEdit"><i class="fa fa-chevron-down lg"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Cálculo Factorización</h3>
        </div>
        <div class="panel-body">

            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                <thead>
                    <tr>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="Inf." type="text">
                        </th>
                        <th class="hasinput icon-addon" style="width: auto">
                            <input class="form-control" placeholder="C. Catastral" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FD" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FÁ" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FU" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FS" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FA" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FI" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="ÁR" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="ÁG" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="FC" type="text">
                        </th>
                        <th class="hasinput" style="width: 7%">
                            <input class="form-control" placeholder="G" type="text">
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th data-class="phone">Inf.</th>
                        <th data-hide="expand">C. Catastral</th>
                        <th data-hide="phone,tablet">FD</th>
                        <th data-hide="phone,tablet">FÁ</th>
                        <th data-hide="phone,tablet">FU</th>
                        <th data-hide="phone,tablet">FS</th>
                        <th data-hide="phone,tablet">FA</th>
                        <th data-hide="phone,tablet">FI</th>
                        <th data-hide="phone,tablet">AR</th>
                        <th data-hide="phone,tablet">AG</th>
                        <th data-hide="phone,tablet">FC</th>
                        <th data-hide="phone,tablet">Gravamen</th>
                        <th data-hide="phone,tablet"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inmueble in (ViewBag.cuentas as List<CuentasPorFranjaViewModel>))
                    {
                        <tr>
                            <td>
                                @inmueble.NumFranja
                            </td>
                            <td>
                                @inmueble.CatCca
                            </td>
                            <td>
                                @inmueble.FactorDistancia.Value
                            </td>
                            <td>
                                @inmueble.FactorArea.Value
                            </td>
                            <td>
                                @inmueble.FactorUso.Value
                            </td>
                            <td>
                                @inmueble.SocioEconomico.Value
                            </td>
                            <td>
                                @inmueble.AccesoAjuste.Value
                            </td>
                            <td>
                                @inmueble.FactorIndividualStr
                            </td>
                            <td>
                                @inmueble.AreaTerreno
                            </td>
                            <td>
                                @inmueble.AreaGravableStr
                            </td>
                            <td>
                                @inmueble.FactorConversionStr
                            </td>
                            <td>
                                @inmueble.GravamenStr
                            </td>
                            <td>
                                @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "cxmInmueblesPorProyectoes", routeValues: new { id = inmueble.IdInmueblePorProyecto }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>

@using (Html.BeginForm(new { @action = "/PerformSubmit" }))
{
    <input type="hidden" name="idProyecto" value="@Model.idProyecto" />
    <div class="col-md-12 btn-group btn-group-justified" role="group" aria-label="....">
        <div class="btn-group" role="group">
            <input type="button" data-toggle="modal" data-target="#modalAddCca" id="addCca" name="addCca" value="Agregar clave catastral" class="btn btn-primary btn-lg">
        </div>
        <div class="btn-group" role="group">
            <input type="button" data-toggle="modal" data-target="#modalAddCcaRange" id="addCca" name="addCca" value="Agregar rango de inmuebles" class="btn btn-primary btn-lg">
        </div>
        <div class="btn-group" role="group">
            <input type="button" data-toggle="modal" data-target="#myModalSignIn" name="closeCarga" class="btn btn-primary btn-lg" value="Cerrar carga" />
        </div>
        <div class="btn-group" role="group">
            <input type="submit" name="printDocs" value="Imprimir gravámenes" class="btn btn-primary btn-lg">
        </div>
        <div class="btn-group" role="group">
            <input type="submit" name="createCc" value="Crear cuentas corrientes" class="btn btn-primary btn-lg">
        </div>
    </div>
}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edición Múltiple</h4>
            </div>
            <form id="edicionMultiple" action="/Proyectos/UpdateFranja" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="idProyecto" value="@Model.idProyecto" />
                    <div class="form-group">
                        <label for="franjas" class="control-label">Influencia</label>
                        @Html.DropDownList("franjas", null, htmlAttributes: new { @class = "form-control", id = "franjas" })
                    </div>
                    <div class="form-group">
                        <label for="factores" class="control-label">Factor</label>
                        @Html.DropDownList("factores", null, htmlAttributes: new { @class = "form-control", id = "factores" })
                    </div>
                    <div class="form-group" id="divValores">
                        <label for="valores" class="control-label">Valor</label>
                        @Html.DropDownList("valores", null, htmlAttributes: new { @class = "form-control", id = "valores" })
                    </div>
                </div>
                <div class="modal-footer">
                    <br />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Aplicar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddCcaRange" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document" style="width: 90%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addMultipleCcaLabel"><strong>Agregar inmuebles</strong></h4>
            </div>
            <form id="edicionMultipleRange" action="/Proyectos/InsertCatCcaRange" method="POST">
                <div class="modal-body" style="width: auto">                    
                    <input type="hidden" name="idProyecto" value="@Model.idProyecto"/>
                    <div class="row">
                        <div class="panel panel-inverse" id="wid-id-5" data-currentnbr="0" data-currentfranja="0">
                            <ul class="panel-options">
                                <li>@Html.DropDownList("influencia", null, htmlAttributes: new {@class = "form-control input col-md-6", id = "franjaAddRange"})</li>
                                <li><a class="" data-toggle="modal" data-target="#modalAddCcaRangeExcel"><i class="fa fa-files-o fa-2x" title="Copiar desde excel"></i></a></li>
                                <li><a class="panel-minimize"><i class="fa fa-chevron-down fa-2x"></i></a></li>
                            </ul>
                            <div class="panel-heading">
                                <h3 class="panel-title">Inmuebles</h3>
                            </div>
                            <div class="panel-body" style="padding-left: 2px; padding-right: 2px;">
                                <div class="row" style="width: auto">                                    

                                </div>

                                <div class="col-md-12" style="margin-bottom: 5%">
                                    <hr/>
                                    <div class="col-md-1" style="padding-left: 5px">
                                        <label for="ncuentas">Cantidad</label>
                                        <input type="number" id="ncuentas" class="form-control input">
                                    </div>
                                    <div class="col-md-1">
                                        <label for=""></label>
                                        <a class="btn btn-primary" onclick="addInmuebles()" style="cursor: pointer; margin-bottom: 1%">Actualizar</a>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="selectFD">FD</label>
                                        @Html.DropDownList("selectfactordistancia", null, new {@class = "form-control input", id = "selectFD"})
                                    </div>
                                    <div class="col-md-2">
                                        <label for="selectFAREA">FArea</label>
                                        @Html.DropDownList("selectfactorarea", null, new {@class = "form-control input", id = "selectFAREA"})
                                    </div>
                                    <div class="col-md-2">
                                        <label for="selectFU">FU</label>
                                        @Html.DropDownList("selectfactoruso", null, new {@class = "form-control input", id = "selectFU"})
                                    </div>
                                    <div class="col-md-2">
                                        <label for="selectFS">FS</label>
                                        @Html.DropDownList("selectfactorsocioeconomico", null, new {@class = "form-control input", id = "selectFS"})
                                    </div>
                                    <div class="col-md-2">
                                        <label for="selectFA">FA</label>
                                        @Html.DropDownList("selectfactoracceso", null, new {@class = "form-control input", id = "selectFA"})
                                    </div>
                                </div>

                                <div class="col-md-12" style="padding-left: 2px; padding-right: 2px;">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified" id="navul">
                                        <li class="active"><a href="#tabDirecto" onclick="updateInmueblesCount(this)" class="link" data-toggle="tab"><strong>Influencia</strong></a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content" id="tab-main">
                                        <div class="tab-pane active" id="tabDirecto">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-1">No.</th>
                                                        <th class="col-md-2">C. CAT.</th>
                                                        <th class="col-md-3">NOMBRE</th>
                                                        <th class="col-md-1">FD</th>
                                                        <th class="col-md-1">FAR</th>
                                                        <th class="col-md-1">FU</th>
                                                        <th class="col-md-1">FS</th>
                                                        <th class="col-md-1">FA</th>
                                                        <th class="col-md-1"></th>
                                                    </tr>
                                                </thead>
                                            </table>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                </div>
                <div class="modal-footer">
                    <br />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Aplicar Cambios" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddCca" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addCcaLabel"><strong>Agregar cuenta catastral</strong></h4>
            </div>
            <form id="AddSingleCca" action="/Proyectos/InsertCatCca" method="POST">
                <div class="modal-body">
                    <hr/>
                    <input type="hidden" name="idProyecto" value="@Model.idProyecto"/>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="franjas" class="control-label col-md-6">Influencia</label>
                            @Html.DropDownList("idFranja", null, htmlAttributes: new {@class = "form-control input col-md-6", id = "franjas"})
                        </div>
                        <div class="col-md-6">
                            <label for="cuentaCat" class="control-label col-md-1">Cuenta</label>
                            <input type="text" id="cuentaCat" name="catCca" class="form-control input col-md-5"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="factorArea" class="control-label col-md-6">Factor Área</label>
                            @Html.DropDownList("idFactorArea", null, htmlAttributes: new {@class = "form-control input col-md-6", id = "factorArea"})
                        </div>
                        <div class="col-md-6">
                            <label for="factorDistancia" class="control-label col-md-6">Factor Distancia</label>
                            @Html.DropDownList("idFactorDistancia", null, htmlAttributes: new {@class = "form-control input", id = "factorDistancia"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="accesoAjuste" class="control-label col-md-6">Acceso Ajuste</label>
                            @Html.DropDownList("idAccesoAjuste", null, htmlAttributes: new {@class = "form-control input col-md-6", id = "accesoAjuste"})
                        </div>
                        <div class="col-md-6">
                            <label for="factorUso" class="control-label col-md-6">Factor Uso</label>
                            @Html.DropDownList("idFactorUso", null, htmlAttributes: new {@class = "form-control input col-md-6", id = "factorUso"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="factorSocioeconomico" class="control-label col-md-8">Factor Socioeconómico</label>
                            @Html.DropDownList("idFactorSocioEconomico", null, htmlAttributes: new {@class = "form-control input col-md-6", id = "factorSocioeconomico"})
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <br/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Aplicar Cambios"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddCcaRangeExcel" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addCcaLabelExcel"><strong>Pegar claves catastrales aquí</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <textarea id="textCuentasExcel" rows="20"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="button" onclick="addExcelInmuebles()" data-dismiss="modal" class="btn btn-primary" value="Aplicar" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalSignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabelSignIn">Acceso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel signin">
                        <div class="panel-heading">
                            <h1>Municipalidad de San Pedro Sula</h1>
                            <h4 class="panel-title">Por favor, ingrese sus credenciales.</h4>
                        </div>
                        <div class="panel-body">
                            <form id="signin" action="/Proyectos/CerrarCarga" method="POST">
                                <div class="form-group mb10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Ingrese el usuario" name="user">
                                    </div>
                                </div>
                                <div class="form-group nomargin">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="text" class="form-control" placeholder="Ingrese la contraseña" name="password">
                                    </div>
                                </div>
                                <input type="hidden" name="idProyecto" value="@Model.idProyecto" />
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-quirk btn-block" value="Ingresar" />
                                </div>
                            </form>
                            <hr class="invisible">
                        </div>
                    </div><!-- panel -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#wid-id-influencias').height($('#wid-id-info').height());
        $('#p').css('text-align', 'center');
        $('#p').css('vertical-align', 'middle');
        $('#factores').change(function () {
            var factor = $("#factores").val();
            $.ajax({
                method: "GET",
                url: "/Proyectos/ValoresPerFactor",
                data: { factor: factor }
            }).done(function (data) {
                $("#divValores").html(data);
            });
        });
    });

    function addCca(idProyecto, franja, cuenta, factorArea, factorSocioEconomico, accesoAjuste, factorUso, factorDistancia) {
        $.ajax({
            method: "GET",
            url: "/Proyectos/InsertCatCca",
            data: {
                idProyecto: idProyecto,
                franja: franja,
                cuenta: cuenta,
                factorArea: factorArea,
                factorSocioEconomico: factorSocioEconomico,
                accesoAjuste: accesoAjuste,
                factorUso: factorUso,
                factorDistancia: factorDistancia
            }
        }).done(function (data) {
            if (data != "NOTOK") {
                var factorIndividual = multiplyFactores(factorArea, factorSocioEconomico, accesoAjuste, factorUso, factorDistancia);
            }
        });
    };

    function addExcelInmuebles() {
        var container = $($('ul#navul li.active').children().first().attr('href'));
        var cuentas = $('#textCuentasExcel').val().split('\n');
        var nombresArray = getNamesWithCatccaArray(cuentas);
        for (var cuenta in nombresArray) {
            addItem($('#wid-id-5'), cta, container, 'addcatcca', nombresArray[cuenta]);
        }
    }

    function getNamesWithCatccaArray(catccasarray) {
        var nombre = '';
        $.ajax({
            method: "POST",
            datatype: "json",
            async: false,
            url: "/Proyectos/NombresWithCatccaArray",
            data: { catccasarray: catccasarray }
        }).success(function (data) {
            nombre = data;
        }).fail(function (data) {
            nombre = '';
        });
        return nombre;
    }

    function multiplyFactores(factorArea, factorSocioEconomico, accesoAjuste, factorUso, factorDistancia) {
        return (factorArea * factorSocioEconomico * accesoAjuste * factorUso * factorDistancia);
    }


    function showMessage(message, color) {
        $.gritter.add({
            title: "Municipalidad de San Pedro Sula",
            text: message,
            class_name: "with-icon exclamation-circle warning"
        });
    }

    function deleteItem(element, classToFind) {
        var count = $(classToFind).length;
        element.closest(classToFind).remove();
    }

    function addInmuebles() {
        var container = $($('ul#navul li.active').children().first().attr('href'));
        if ($('#ncuentas').val() > 0) {
            var cuentasText = $('#ncuentas').val();
            var cuentas = $($('ul#navul li.active').children().first().attr('href') + ' .cta').length;
            var iterations = (cuentasText > cuentas) ? (cuentasText - cuentas) : (cuentas - cuentasText);
            for (var i = 0; i < iterations; i++) {
                if (cuentasText > cuentas) addItem($('#wid-id-5'), cta, container, 'addcatcca');
                //else removeLastFranjaItem();
            }
        }
    }

    function addFranjaItem() {
        var nbr = $('#wid-id-5').data('currentfranja');
        $('#navul').append(liItem.replace('tab0', 'tab' + nbr).replace('<strong>Popular</strong>', '<strong>Influencia ' + parseInt(nbr + 1) + '</strong>'));
        $('#tab-main').append(divTab.replace('tab0', 'tab' + nbr).replace('onclick', 'onclick="addInmuebles()"'));
        //addItem($('#wid-id-5'), cta, $('#tab' + nbr), 'newfranja');         
        addItem($('#percentscontainer'), percentInputs.replace('Directos', 'Influencia' + parseInt(nbr + 1)).replace('percentfranja',
            'percentfranja' + parseInt(nbr + 1)), $('#percentscontainer'), '0');
        $('#wid-id-5').data('currentfranja', nbr + 1);
    }

    function addPercentItem(newHtml) {
        var franjas = $('ul#navul li').length - 1;
        newHtml = newHtml.replace('cxmfranjaindexvalue', franjas);
        newHtml = newHtml.replace('cxmfranjaidfranja', 'cxmInfluencia[' + franjas + '].IdFranja');
        newHtml = newHtml.replace('cxmfranjaidproyecto', 'cxmInfluencia[' + franjas + '].idProyecto');
        newHtml = newHtml.replace('cxmfranjanumfranja', 'cxmInfluencia[' + franjas + '].numFranja');
        newHtml = newHtml.replace('valuenumfranja', franjas);
        newHtml = newHtml.replace(RegExp('cxmfranjaporcentaje', 'g'), 'cxmInfluencia[' + franjas + '].porcentaje');
        newHtml = newHtml.replace('cxmfranjaesdirecto', 'cxmInfluencia[' + franjas + '].esDirecto');
        return newHtml;
    }

    function addInmuebleItem(newHtml, container, config, inmueble) {
        var activeTab = $('ul#navul li.active').index();
        var franjas = 0;
        if (config == 'newfranja') franjas = parseInt($('ul#navul li').length - 1); else franjas = activeTab;
        var texts = $(container).find('.cta').length;
        var numInmuebles = parseInt($(container).find('.cta').length) + 1;
        newHtml = newHtml.replace('index', numInmuebles);
        return setIdsAndValues(newHtml, franjas, texts, inmueble);
    }

    function setIdsAndValues(newHtml, franjas, texts, inmueble) {
        var cuenta = (inmueble) ? inmueble.CatCca : '';
        var nombre = (inmueble) ? inmueble.RicNEm : '';
        newHtml = newHtml.replace('cxmfranjacatcca', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].catCca');
        newHtml = newHtml.replace('valueinmueble', cuenta);
        newHtml = newHtml.replace('valuenombre', nombre);
        newHtml = newHtml.replace('cxmfranjaidinmuebleporproyecto', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idInmueblePorProyecto');
        newHtml = newHtml.replace('cxmfranjaidinmueblefranja', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].IdFranja');
        newHtml = setFactoresIds(newHtml, franjas, texts);
        return newHtml;
    }

    function setFactoresIds(newHtml, franjas, texts) {
        newHtml = newHtml.replace('cxmfranjainmuebleindex', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto.Index');
        newHtml = newHtml.replace('cxmfranjainmuebleindexvalue', texts);
        var fdSelect = $('#selectFD').clone().prop('name', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idFactorDistancia');
        fdSelect.find('option[value="' + $('#selectFD').val() + '"]').attr('selected', 'selected');
        newHtml = newHtml.replace('fdrow', fdSelect.prop('outerHTML'));
        var fareaSelect = $('#selectFAREA').clone().prop('name', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idFactorArea');
        fareaSelect.find('option[value="' + $('#selectFAREA').val() + '"]').attr('selected', 'selected');
        newHtml = newHtml.replace('farearow', fareaSelect.prop('outerHTML'));
        var fuSelect = $('#selectFU').clone().prop('name', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idFactorUso');
        fuSelect.find('option[value="' + $('#selectFU').val() + '"]').attr('selected', 'selected');
        newHtml = newHtml.replace('furow', fuSelect.prop('outerHTML'));
        var fsSelect = $('#selectFS').clone().prop('name', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idFactorSocioEconomico');
        fsSelect.find('option[value="' + $('#selectFS').val() + '"]').attr('selected', 'selected');
        newHtml = newHtml.replace('fsrow', fsSelect.prop('outerHTML'));
        var faSelect = $('#selectFA').clone().prop('name', 'cxmInfluencia[' + franjas + '].cxmInmueblesPorProyecto[' + texts + '].idAccesoAjuste');
        faSelect.find('option[value="' + $('#selectFA').val() + '"]').attr('selected', 'selected');
        newHtml = newHtml.replace('farow', faSelect.prop('outerHTML'));
        return newHtml;
    }

    function getNameWithCatcca(catcca) {
        var nombre = '';
        $.ajax({
            method: "GET",
            async: false,
            url: "/Proyectos/NombreWithCatcca",
            data: { catcca: catcca }
        }).success(function (data) {
            nombre = data;
        }).fail(function (data) {
            nombre = '';
        });
        return nombre;
    }

    function setContName(catcca) {
        var nombreText = $(catcca).closest('.cta').find('.nombre');
        var nombre = getNameWithCatcca($(catcca).val());
        $(nombreText).val(nombre);
    }

    function removeFranjaItem() {
        var nbr = $('#wid-id-5').data('currentfranja');
        var activeTab = $('ul#navul li.active');
        var indexActiveTab = $(activeTab).index();
        if (indexActiveTab != "0") {
            $(activeTab).remove();
            $('#tab' + indexActiveTab - 1).remove();
            $('#wid-id-5').data('currentfranja', nbr - 1);
        } else showMessage("No se puede eliminar la franja 'Directos'", "#C46A69");
    }

    function removeLastFranjaItem() {
        var nbr = $('#wid-id-5').data('currentfranja');
        var lastLi = $('ul#navul li').last().remove();
        $('#tab' + nbr).remove();
        $('#percentfranja' + nbr).remove();
        $('#wid-id-5').data('currentfranja', nbr - 1);
    }

    function addItem(mainContainer, element, container, config, inmueble) {
        var id = mainContainer.data('currentnbr');
        var newId = id + 1;
        var newHtml = element.replace(new RegExp('\\[.*?\\]', 'g'), '[' + newId + ']').replace(new RegExp('_.*?__', 'g'), '_' + newId + '__');
        newHtml = addPercentItem(newHtml);
        newHtml = addInmuebleItem(newHtml, container, config, inmueble);
        container.append(newHtml);
        mainContainer.data('currentnbr', newId);
    }

    function sumpercents(event) {
        var total = 0;
        $('.percent').each(function () {
            if (!isNaN(this.value) && this.value.lenght != 0) total += parseInt(this.value);
        });
        if (total > 100) {
            showMessage("La suma de porcentajes no debe ser mayor a 100", "#C46A69");
            var id = event.target.id;
            $(event.target).val('');
        }
    }

    function updateInmueblesCount(element) {
        var count = $($(element).attr('href')).find('.cta').length;
        $('#ncuentas').val(count);
    }

    var liItem = '<li><a href="#tab0" onclick="updateInmueblesCount(this)" data-toggle="tab"><strong>Popular</strong></a></li>';
    var divTab = '<div class="tab-pane" id="tab0">' +
                    '<div class="col-md-12">' +
                         '<table class="table">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th class="col-md-1">No.</th>' +
                                        '<th class="col-md-2">C. CAT.</th>' +
                                        '<th class="col-md-1">FD</th>' +
                                        '<th class="col-md-1">FAR</th>' +
                                        '<th class="col-md-2">FU</th>' +
                                        '<th class="col-md-3">FS</th>' +
                                        '<th class="col-md-1">FA</th>' +
                                        '<th class="col-md-1"></th>' +
                                    '</tr>' +
                                '</thead>' +
                            '</table>' +
                    '</div>' +
                '</div>';
    var cta = '<div id="CtaCatastral" class="cta col-md-12" style="overflow:hidden; margin-bottom:5px; display: inline-block">' +
                        '<div class="col-md-1" style="padding-left: 0px; padding-right: 0px">' +
                            'index' +
                        '</div>' +
                        '<input type="hidden" name="cxmfranjainmuebleindex" value="cxmfranjainmuebleindexvalue" />' +
                        '<div class="col-md-2" style="">' +
                            '<input type="text" name="cxmfranjacatcca" class="form-control input" onchange="setContName(this)" value="valueinmueble" />' +
                            '<input type="hidden" name="cxmfranjaidinmuebleporproyecto" value="0"/>' +
                            '<input type="hidden" name="cxmfranjaidinmueblefranja" value="0"/>' +
                        '</div>' +
                        '<div class="col-md-3" style="">' +
                            '<input type="text" readonly="readonly" class="nombre form-control input" value="valuenombre" />' +
                        '</div>' +
                        '<div class="col-md-1" style="">' +
                            'fdrow' +
                        '</div>' +
                        '<div class="col-md-1" style="">' +
                            'farearow' +
                        '</div>' +
                        '<div class="col-md-1" style="">' +
                            'furow' +
                        '</div>' +
                        '<div class="col-md-1" style="">' +
                            'fsrow' +
                        '</div>' +
                        '<div class="col-md-1" style="padding-right: 0px">' +
                            'farow' +
                        '</div>' +
                        '<div class="col-md-1">' +
                            '<a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), \'.cta\');">' +
                                '<i class="fa fa-minus"></i>' +
                            '</a>' +
                        '</div>' +
                    '</div>';
    var percentInputs = '<div class="col-md-1" id="percentfranja" style="">' +
                            '<input type="hidden" name="cxmInfluencia.Index" value="cxmfranjaindexvalue" />' +
                            '<input type="hidden" class="form-control input" name="cxmfranjaidfranja" value="0" />' +
                            '<input type="hidden" class="form-control input" name="cxmfranjaidproyecto" value="0" />' +
                            '<input type="hidden" class="form-control input" name="cxmfranjanumfranja" value="valuenumfranja"/>' +
                            '<label class="col-md-1" for="cxmfranjaporcentaje">Directos</label>' +
                            '<input type="number" min="1" id="cxmfranjaporcentaje" class="form-control input col-md-10 percent" onkeyup="sumpercents(event)" name="cxmfranjaporcentaje"/>' +
                            '<input type="hidden" class="form-control input" name="cxmfranjaesdirecto" value="true" />' +
                        '<div>';
    var addSingleInmuebleButton = '<a class="btn btn-primary" onclick style="cursor:pointer; margin-bottom:1%">Agregar cuenta catastral</a>';

</script>
