﻿@model MVCBase.ProjectConfigViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<form id="edicionMultiple" action="/Proyectos/ProjectConfigFind" method="POST">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <input type="text" placeholder="Proyecto" name="idProyecto" class="form-control input" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Consultar" class="btn btn-block btn-primary" />
            </div>
        </div>
    </div>
</form>

@if (Model != null)
{
    <br/>
    <hr/>
    using (Html.BeginForm(new { @action = "/ProjectConfig", idProyecto = Model.Proyecto.idProyecto }))
    {
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-inverse" id="profilecc" style="transform-origin: top left; transform: scale(1, 1.2); position: relative">
                        <div class="panel-body">
                            <div class="row" style="height: 100%">
                                <div style="height: 65%">
                                    <p style="font-size: 50px; text-align: center; letter-spacing: 5px">
                                        CXM
                                    </p>
                                </div>
                                <div style="height: 35%" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8"><label style="font-size: 9px">@Model.Proyecto.codigoProyecto</label>
                                        </div>
                                        <div class="col-md-4"><label style="font-size: 9px">@Model.Proyecto.fechaFinalizacion.Value.Year</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8"><label style="font-size: 10px">CODIGO DEL PROYECTO</label>
                                        </div>
                                        <div class="col-md-4"><label style="font-size: 10px">AÑO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 row">
            <div class="col-md-12" id="datossection">
                <div class="row">
                    <div class="col-md-12" id="datosproyecto">
                        <div class="panel panel-inverse" id="wid-id-inmueble">
                            <ul class="panel-options">
                                <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
                            </ul>
                            <div class="panel-heading" style="height: 35px; padding: 10px 20px">
                                <h3 class="panel-title">Datos del Proyecto</h3>
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px; padding-top: 3px">
                                <p>@Model.Proyecto.nombreProyecto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="detallecuenta">
                <div class="panel panel-inverse" id="wid-id-inmueble">
                    <ul class="panel-options">
                        <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="panel-heading" style="height: 35px; padding: 10px 20px">
                        <h3 class="panel-title">Detalle de la cuenta</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px; padding-top: 3px">
                        <div class="row">
                            @{
                                var parametros = ViewBag.parametros as ParametrosCuentasCorrientes;
                                @Html.HiddenFor(model => model.ParametrosCuentasCorrientes.idProyecto)
                                @Html.HiddenFor(model => model.ParametrosCuentasCorrientes.idParametros)
                                <div class="col-md-2">Gravamen</div>
                                <div class="col-md-2" style="background-color: grey">
                                    <h5>@Model.CuentasCorrientes.Select(x => x.CuentasCorrientes).Sum(x => x.montoAdeudado)</h5>
                                </div>
                                <div class="col-md-2">
                                    Tiempo de Gracia
                                </div>
                                <div class="col-md-6" style="overflow: hidden">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Fecha Inicio
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ParametrosCuentasCorrientes.fechaInicial, new {@class = "form-control input", @Value = Model.ParametrosCuentasCorrientes.fechaInicial.Value.ToShortDateString()})
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            Fecha Final
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ParametrosCuentasCorrientes.fechaFinal, new {@class = "form-control input", @Value = Model.ParametrosCuentasCorrientes.fechaFinal.Value.ToShortDateString()})
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" id="parametrosreglamento">
            <div class="panel panel-inverse" id="wid-id-parametros">
                <ul class="panel-options">
                    <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
                </ul>
                <div class="panel-heading" style="height: 35px; padding: 10px 20px">
                    <h3 class="panel-title">Parámetros establecidos en el reglamento</h3>
                </div>
                <div class="panel-body" id="bodyparametrosreglamento" style="padding-bottom: 0px; padding-top: 3px">
                    <div class="row">
                        @Html.LabelFor(model => model.ParametrosCuentasCorrientes.pagoFraccionado, "Pago Fraccionado", htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-1">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ParametrosCuentasCorrientes.pagoFraccionado, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ParametrosCuentasCorrientes.pagoFraccionado, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        @Html.LabelFor(model => model.ParametrosCuentasCorrientes.aplicaConvenio, "Pago Convenio", htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-1">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ParametrosCuentasCorrientes.aplicaConvenio, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ParametrosCuentasCorrientes.aplicaConvenio, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel panel-inverse" id="wid-id-proyectosIndex">
                            <ul class="panel-options"> 
                                <li><a class="" data-toggle="modal" data-target="#modalAddDescuento"><i class="fa fa-pencil-square-o fa-2x" title="Agregar Descuento"></i></a></li>                                
                                <li><a class="panel-minimize" id="multipleEdit"><i class="fa fa-chevron-down lg"></i></a></li>
                            </ul>
                            <div class="panel-heading">
                                <h3 class="panel-title">Listado de Descuentos</h3>
                            </div>
                            <div class="panel-body">

                                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                                    <thead>                                        
                                        <tr>
                                            <th data-class="phone">Fecha Inicio</th>
                                            <th data-hide="expand">Fecha Fin</th>
                                            <th data-hide="phone,tablet">Porcentaje Descuento</th>
                                            <th data-hide="phone,tablet">Descuento</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model.Proyecto.DescuentosPorProyecto)
                                        {
                                            <tr>
                                                <td>
                                                    @item.fechaInicio.Value.ToShortDateString()
                                                </td>
                                                <td>
                                                    @item.fechaFinal.Value.ToShortDateString()
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.valorDescuento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.cxmDescuentos.descripcionDescuento)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6" id="montoapagar">
            <div class="panel panel-inverse" id="wid-id-inmueble">
                <ul class="panel-options">
                    <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
                </ul>
                <div class="panel-heading" style="height: 35px; padding: 10px 20px">
                    <h3 class="panel-title">Monto total a pagar</h3>
                </div>
                <div class="panel-body" id="bodymontoapagar" style="padding-bottom: 0px; padding-top: 3px">
                    <div class="row" style="padding-bottom: 6px">
                        <div class="col-md-4">Monto a recuperar</div>
                        <div class="col-md-2" style="background-color: grey">
                            <h5>@Model.CuentasCorrientes.Select(x => x.CuentasCorrientes).Sum(x => x.montoAdeudado)</h5>
                        </div>
                        <div class="col-md-4">Monto Pagado</div>
                        <div class="col-md-2" style="background-color: grey">
                            <h5>@Model.CuentasCorrientes.Select(x => x.CuentasCorrientes.Pagos).Sum(x => x.Sum(y => y.monto))</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Monto Pendiente de Pago</div>
                        <div class="col-md-2" style="background-color: grey">
                            <h5>
                                @(Model.CuentasCorrientes.Select(x => x.CuentasCorrientes).Sum(x => x.montoAdeudado) -
                                  Model.CuentasCorrientes.Select(x => x.CuentasCorrientes.Pagos).Sum(x => x.Sum(y => y.monto)))
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="detallepagos">
            <div class="panel panel-inverse" id="wid-id-inmueble">
                <ul class="panel-options">
                    <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
                </ul>
                <div class="panel-heading" style="height: 35px; padding: 10px 20px">
                    <h3 class="panel-title">Detalle de pagos</h3>
                </div>
                <div class="panel-body" style="padding-bottom: 0px; padding-top: 3px">
                    <table class="table">
                        <tr>
                            <th>
                                Claves Vinculadas
                            </th>
                            <th>
                                C.C.
                            </th>
                            <th>
                                Nombre Propietario
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Gravamen
                            </th>
                            <th>
                                Capital
                            </th>
                            <th>
                                Intereses
                            </th>
                            <th>
                                Pagado
                            </th>
                            <th>
                                Pendiente de Pago
                            </th>
                            <th>

                            </th>
                        </tr>
                        @{

                            foreach (var item in Model.MontosTotales)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Clave)
                                    </td>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Cuenta)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombrePropietario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombrePropietario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gravamen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Capital)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Intereses)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pagado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PendientePago)
                                    </td>
                                    <td>
                                        <a href="/CuentasCorrientes/CuentaSummary?idCuenta=@item.ccpp" title="Cuenta Corriente"><i class="fa fa-dollar"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">

            <div class="col-md-12 btn-group btn-group-justified" role="group" aria-label="....">
                <div class="btn-group" role="group">
                    <input type="submit" name="applydescuentos" value="Aplicar Descuentos a Cuentas" class="btn btn-primary btn-lg">
                </div>
                <div class="btn-group" role="group">
                    <input type="submit" name="impresionmasiva" value="Impresión Estado de Cuenta" class="btn btn-primary btn-lg">
                </div>
                <div class="btn-group" role="group">
                    <input type="submit" name="guardar" value="Guardar" class="btn btn-primary btn-lg">
                </div>
                <div class="btn-group" role="group">
                    <input type="submit" name="reporteproyecto" value="Imprimir Reporte de Proyecto" class="btn btn-primary btn-lg">
                </div>
            </div>
        </div>                            

    }
        <div class="modal fade" id="modalAddDescuento" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addCcaLabel"><strong>Agregar descuento</strong></h4>
                    </div>
                    <form id="AddSingleDescuento" action="/DescuentosPorProyecto/Create" method="POST">
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <div class="row">
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                <div class="form-group">
                                    @Html.Label("idDescuento", "Descuento", htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.DropDownList("idDescuento", (ViewBag.idDescuento as SelectList), htmlAttributes: new {@class = "form-control"})
                                        @Html.ValidationMessage("idDescuento", "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                @Html.Hidden("idDescuentoPorProyecto", 0)
                                @Html.Hidden("idProyecto", Model.Proyecto.idProyecto)

                                <div class="form-group">
                                    @Html.Label("fechaInicio", "Fecha Inicio", htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.Editor("fechaInicio", new {htmlAttributes = new {@class = "form-control", id= "fechaInicio" } })
                                        @Html.ValidationMessage("fechaInicio", "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("fechaFinal", "Fecha Final", htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.Editor("fechaFinal", new {htmlAttributes = new {@class = "form-control", id="fechaFinal"} })
                                        @Html.ValidationMessage("fechaFinal", "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("valorDescuento", "Porcentaje Descuento", htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.Editor("valorDescuento", new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessage("valorDescuento", "", new {@class = "text-danger"})
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Crear" class="btn btn-primary btn-block" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    }
@*<p>
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

        $('#profilecc').height(parseInt($('#datosproyecto').height())
            + parseInt($('#detallecuenta').height()) - 60);
        $('#bodymontoapagar').height(parseInt($('#parametrosreglamento').height()) - 45);

        $('#fechaInicio').datepicker({ dateFormat: "dd/mm/yy" });
        $('#fechaFinal').datepicker({ dateFormat: "dd/mm/yy" });
        $('#ui-datepicker-div').css('display', 'none');

    });
</script>
