﻿@model MVCBase.AccesoAjuste

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccesoAjuste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Valor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAccesoAjuste }) |
    @Html.ActionLink("Back to List", "Index")
</p>
